.m-button {
  background-color: #1aa4c8;
  border-radius: 3px;
  width: 110px;
  height: 36px;
  text-align: center;
  border: none;
  color: #fff;
}

.m-button:hover {
  background-color: #0582a2;
}

.m-button:active {
  background-color: #28b7dc;
}

.m-button:focus,
.outline-button:focus,
.sub-button:focus {
  outline: 3px solid #caeaf2;
}

.outline-button {
  border: 1px solid #b2b2b2;
  background-color: #fff;
  color: #000;
}

.outline-button:hover,
.outline-button:active,
.outline-button:focus {
  background-color: #1aa4c8;
  border: none;
  color: #fff;
}

.sub-button {
  background-color: #fff;
  border: 1px solid #22a7ca;
  color: #22a7ca;
}

.sub-button:hover {
  background-color: #d1edf4;
}

.sub-button:focus {
  color: #22a7ca;
}
