.m-combobox {
  position: relative;
  height: 36px;
}

.m-combobox .combobox-contaner {
  height: 100%;
  border-radius: 2.5px;
  border: 1px solid #afafaf;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.m-combobox .combobox-contaner:focus-within {
  border: 1px solid #22a7ca;
}

.m-combobox .combobox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
}

.m-combobox .combobox-no-icon {
  display: none;
}

.m-combobox input {
  width: calc(100% - 24px - 36px);
  height: 100%;
  border: none;
  outline: none;
}

.m-combobox .input-no-icon {
  width: calc(100% - 24px);
  padding-left: 14px;
}

.m-option-list {
  position: absolute;
  padding: 4px;
  border-radius: 2.5px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 5;
  max-height: 152px;
  overflow: auto;
}

.m-option-list .m-option-item {
  border-radius: 2.5px;
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
}

.m-option-list .m-option-item:hover {
  background-color: #c7e0f5;
}

.m-option-list .m-option-item.m-item-selected {
  background-color: #c7e0f5;
}

.m-option-list .m-option-item .option-item-box {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.m-option-list .m-option-item .option-item-box-selected {
  visibility: visible;
}
.rotate {
  transform: rotate (0deg);
  transition: all 0.4s ease;
}

.simple-typeahead {
  height: 36px;
  width: 100%;
}

.simple-typeahead-input {
  width: 100%;
  height: 100%;
  border: 1px solid #afafaf;
  border-radius: 2.5px;
  padding-left: 14px;
}

.simple-typeahead-input:focus {
  border: 1px solid #22a7ca;
  outline: none;
}

.simple-typeahead .simple-typeahead-list {
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
  outline: none !important;
  border-bottom: none !important;
  box-shadow: 7px 8px 11px 2px rgb(0 0 0 / 16%);
  max-height: 152px !important;
  overflow: auto;
}

.simple-typeahead .simple-typeahead-list .simple-typeahead-list-item {
  border: none !important;
  outline: none !important;
  border-radius: 4px;
  height: 36px;
}

.simple-typeahead
  .simple-typeahead-list
  .simple-typeahead-list-item.simple-typeahead-list-item-active {
  background-color: #c7e0f5 !important;
}

.simple-typeahead-list-footer {
  background-color: red;
}
