.m-combobox {
  position: relative;
  height: 36px;
  border-radius: 2.5px;
  border: none;
  outline: none;
  z-index: 99;
}

.m-combobox .combobox-contaner {
  border-radius: 2.5px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  width: 100%;
}

.m-combobox .combobox-contaner input {
  border: 1px solid #afafaf;
  border-radius: 2.5px;
  font-size: 13px;
  width: 100%;
  height: 100%;
  outline: none;
}

.m-combobox .combobox-contaner input:focus {
  border: 1px solid #22a7ca !important;
}

.m-combobox .combobox-contaner .input-focus {
  border: 1px solid #22a7ca !important;
}

.combobox-icon {
  position: absolute;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
}

.m-combobox .combobox-no-icon {
  display: none;
}

.m-combobox .input-no-icon {
  width: 100%;
  padding-left: 14px !important;
  padding-right: 20px;
}

.m-combobox .input-icon {
  width: 100%;
  padding-left: 36px !important;
  padding-right: 20px;
}

.m-option-list {
  position: fixed;
  top: 36px;
  border-radius: 2.5px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 5;
  max-height: 152px;
  overflow: auto;
}

.m-option-list .m-option-item {
  cursor: pointer;
  border-radius: 2.5px;
  padding-left: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  margin: 0px 4px;
}

.m-option-list .m-option-item .item-text-limit {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-option-list .combobox-selected {
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-option-list .m-option-item:first-child {
  margin-top: 4px;
}
.m-option-list .m-option-item:last-child {
  margin-bottom: 4px;
}

.m-option-list .m-option-item:hover,
.m-option-list .m-option-item-hover {
  background-color: #c7e0f5;
}

.m-option-list .m-option-item.m-item-selected {
  background-color: #c7e0f5;
}

.m-option-list .m-option-item .option-item-box {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.icon-combobox {
  height: 100%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}

.m-option-list::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

.m-option-list::-webkit-scrollbar-track {
  background: rgb(217, 217, 217);
}

.m-option-list::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 10000px;
}

.m-option-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
