.m-login {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/src/assets/img/Op3-Background-1920.png);
}

.m-login .grip-login {
  width: 770px;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 16px 30px rgb(0 0 0 / 16%);
  overflow: hidden;
  position: absolute;
  height: 560px;
}

.m-login .grip-login .half-ctn {
  width: 50% !important;
  text-align: center;
}

.m-login .grip-login .left-grip {
  background-image: url(/src/assets/img/img_Login-Local.png);
  width: 100%;
  height: 100%;
}

.main-login-ctn {
  margin: 40px;
}

.grid-login-normal {
  text-align: center;
}

.input-login {
  width: 100%;
  height: 44px !important;
  padding: 0px 20px;
  margin-top: 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #dadce0;
  font-size: 13px !important;
  box-sizing: border-box;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-login:focus {
  border-color: #22a7ca;
}

.button {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  font-size: 16px !important;
  outline: none;
  border: none;
  background-color: #1a73e8;
  color: #fff;
  cursor: pointer;
}

.logo {
  margin: 0px auto;
  background-repeat: no-repeat;
  height: 60px;
  width: 100px;
  background-size: cover;
  background-image: url(/src/assets/icon/MISA_VN.svg);
  background-size: contain;
}

.logo-text {
  text-align: center;
  font-size: 15px;
}

.input-login:placeholder-shown {
  font-family: MISA Font;
}
