.m-header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.m-header .header-left {
  line-height: 15px;
  font-weight: 700;
}

.m-header .header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.m-header .header-right .header-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-header .header-right .header-icon-user {
  display: flex;
  align-items: center;
  gap: 8px;
}
