.m-lisence .icon-box {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
}

.m-lisence .l-icon-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
}

.m-lisence .m-lisence-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.m-lisence .m-lisence-toolbar .l-toolbar-left p {
  font-size: 20px;
  font-weight: bold;
}

.m-lisence .m-lisence-toolbar .l-toolbar-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Main */
.m-lisence .m-lisence-main {
  background-color: #fff;
  width: 100%;
  height: calc(100% - 46px);
  border: 3px;
}
.m-lisence .m-lisence-main .l-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
}

.m-lisence .m-lisence-main .l-main-header .l-search {
  width: 300px;
}
