.m-lisence .l-icon-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
}

.m-lisence .m-lisence-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.m-lisence .m-lisence-toolbar .l-toolbar-left p {
  font-size: 20px;
  font-weight: bold;
  padding-left: 16px;
}

.m-lisence .m-lisence-toolbar .l-toolbar-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Main */
.m-lisence .m-lisence-main {
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  height: calc(100% - 46px);
  /* 100% trừ height của toolbar */
}

.m-lisence .m-lisence-main .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 16px 16px;
}

.m-lisence .m-lisence-main .main-header .l-search {
  width: 300px;
}

.m-lisence .m-lisence-main .main-table-container {
  height: calc(100% - 56px);
  /* 100% trừ height của header */
}

.m-lisence table thead {
  border-bottom: 1px solid rgba(175, 175, 175, 0.6);
}

.m-lisence .m-lisence-main .main-table-container .m-lisence-table {
  height: calc(55% - 76px);
  /* Trừ height bảng total và phân trang */
  overflow-y: scroll;
}

.m-lisence-total {
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding-left: 16px;
}

.total-text {
  width: 650px;
  text-align: right;
  font-weight: bold;
}

.lisence-paging {
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.m-lisence .m-lisence-main .main-table-container .mouse-draw {
  height: 5px;
  width: 100%;
  background-color: #f4f7ff;
  cursor: row-resize;
}

.m-lisence .m-lisence-main .main-table-container .m-detail-container {
  height: calc(45% - 5px);
  /* Trừ height của mouse-draw */
  border-radius: 3px;
}

.m-lisence
  .m-lisence-main
  .main-table-container
  .m-detail-container
  .detail-header {
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  padding-left: 16px;
}

.m-detail-table {
  height: calc(100% - 40px); /* 100% trừ height header */
  overflow-y: scroll;
  /* background-color: red; */
}

.m-lisence-main .main-table-container .m-lisence-table .m-function-box {
  position: absolute;
  top: 2px;
  right: 0;
}
